
<ion-view title="作家精选">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back"
                ng-click="goBack()"
        ></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-home " ui-sref="home"
        ></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="item-image" id="writer">
            <a ui-sref="writerDetail"><img src="images/writer_sm_01.jpg"></a>
            <a ui-sref="writerDetail"><img src="images/writer_sm_04.jpg"></a>
            <a ui-sref="writerDetail"><img src="images/writer_sm_02.jpg"></a>
            <a ui-sref="writerDetail"><img src="images/writer_sm_05.jpg"></a>
            <a ui-sref="writerDetail"><img src="images/writer_sm_03.jpg"></a>
        </div>
    </ion-content>
</ion-view>