<ion-view hide-nav-bar="true">
    <!--<ion-content>-->
    <ion-slide-box>
        <ion-slide>
           <div class="item-image" style="width:100vm;height:100vh;position: relative;background:url('images/tour_01.jpg') no-repeat center center /cover"></div>
        </ion-slide>

        <ion-slide>
            <ion-slide>
                <div class="item-image" style="width:100vm;height:100vh;position: relative;background:url('images/tour_02.jpg') no-repeat center center /cover">
                    <button style="margin-top:90%; background-color:#76a782;color:#fff;" class="button " ui-sref="home">Enter</button>
                </div>
            </ion-slide>

        </ion-slide>
    </ion-slide-box>
    <!--</ion-content>-->
</ion-view>